<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.skinairvalve.sz.mapper.SzDeviceTypeMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.skinairvalve.sz.entity.SzDeviceType">
        <id column="id" property="id" />
        <result column="device_type" property="deviceType" />
        <result column="device_type_name" property="deviceTypeName" />
    </resultMap>

</mapper>
